@tailwind base;
@tailwind components;
@tailwind utilities;

.headerClass {
  background-color: #ee7320;
  background-image: linear-gradient(33deg,rgba(211,84,0,.15),transparent 69%),linear-gradient(90deg,transparent 28%,#e5a901);
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 0 33px rgba(0,0,0,.33);
}
.landing-hero {
  background-image: linear-gradient(170deg,transparent,rgba(89,51,127,.33)),linear-gradient(130deg,rgba(42,148,214,.98) 30%,rgba(54,123,192,.64) 52%,rgba(89,51,127,.84)),url(https://assets-global.website-files.com/575edfeea4bf5b9f21de5618/579684151fe20a2103874767_sistema-erp-pymes-egafutura-cloud.jpg);
}
.the-para-shade{
  background-image: linear-gradient(rgba(12,44,64,.16),rgba(12,44,64,.16));
}
.hero-btn{
  background-image: linear-gradient(90deg,transparent,rgba(245,200,45,.7) 83%);
  background-color: #f28400;
}
.hero-footer{
background-color: rgba(44,62,80,.24);
background-image: linear-gradient(135deg,rgba(0,118,179,.84),transparent 71%);
}
.the-shadow {
  box-shadow: inset 20 20px 40px 20px rgba(0,0,0,.15) !important;
}
.num{
  background-image: linear-gradient(90deg,#2a94d6,#4473bd 42%,#144c77);
}
.illusion{
  opacity: 1; /* Ensure section is fully visible */
  background-color: #fff; /* Set background color */
  background-image: 
    linear-gradient(33deg, rgba(102, 45, 140, .95) 37%, rgba(234, 73, 73, .2)), /* First gradient */
    linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), /* Second gradient */
    linear-gradient(90deg, transparent 63%, rgba(234, 73, 73, .7)), /* Third gradient */
    url("https://assets-global.website-files.com/575edfeea4bf5b9f21de5618/579684fc9f0c9d5e03cd2eb7_software-administracion-pymes-nube.jpg"); /* Background image */
  background-position: 
    0 0, /* Position for first gradient */
    0 0, /* Position for second gradient */
    0 0, /* Position for third gradient */
    50% 0; /* Position for background image */
  background-size: 
    auto, /* Auto size for first gradient */
    auto, /* Auto size for second gradient */
    auto, /* Auto size for third gradient */
    cover; /* Cover size for background image */
  background-attachment: 
    scroll, /* Allow scrolling for first gradient */
    scroll, /* Allow scrolling for second gradient */
    scroll, /* Allow scrolling for third gradient */
    fixed; /* Fixed background image */
  padding-top: 210px; /* Add top padding */
  padding-bottom: 200px; /* Add bottom padding */
  font-family: 'Lato', sans-serif; /* Set font family */
  position: relative; /* Set position to relative */
  box-shadow: inset 0 0 75px 7px rgba(0, 0, 0, .33); /* Add inset shadow */
}
@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.illusion h2 {
  animation: moveUp 3s ease infinite; /* Apply animation to the h2 element */
}