@tailwind base;
@tailwind components;
@tailwind utilities;

.headerClass {
  background-color: #ee7320;
  background-image: linear-gradient(33deg,rgba(211,84,0,.15),transparent 69%),linear-gradient(90deg,transparent 28%,#e5a901);
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 0 33px rgba(0,0,0,.33);
}
.landing-hero {
  background-image: linear-gradient(170deg,transparent,rgba(89,51,127,.33)),linear-gradient(130deg,rgba(42,148,214,.98) 30%,rgba(54,123,192,.64) 52%,rgba(89,51,127,.84)),url(https://assets-global.website-files.com/575edfeea4bf5b9f21de5618/579684151fe20a2103874767_sistema-erp-pymes-egafutura-cloud.jpg);
}
.the-para-shade{
  background-image: linear-gradient(rgba(12,44,64,.16),rgba(12,44,64,.16));
}
.hero-btn{
  background-image: linear-gradient(90deg,transparent,rgba(245,200,45,.7) 83%);
  background-color: #f28400;
}
.hero-footer{
background-color: rgba(44,62,80,.24);
background-image: linear-gradient(135deg,rgba(0,118,179,.84),transparent 71%);
}
