@tailwind base;
@tailwind components;
@tailwind utilities;

.headerClass {
  background-color: #ee7320;
  background-image: linear-gradient(33deg,rgba(211,84,0,.15),transparent 69%),linear-gradient(90deg,transparent 28%,#e5a901);
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 0 33px rgba(0,0,0,.33);
}
.landing-hero {
  background-image: linear-gradient(170deg,transparent,rgba(89,51,127,.33)),linear-gradient(130deg,rgba(42,148,214,.98) 30%,rgba(54,123,192,.64) 52%,rgba(89,51,127,.84)),url(https://assets-global.website-files.com/575edfeea4bf5b9f21de5618/579684151fe20a2103874767_sistema-erp-pymes-egafutura-cloud.jpg);
}
.the-para-shade{
  background-image: linear-gradient(rgba(12,44,64,.16),rgba(12,44,64,.16));
}
.hero-btn{
  background-image: linear-gradient(90deg,transparent,rgba(245,200,45,.7) 83%);
  background-color: #f28400;
}
.hero-footer{
background-color: rgba(44,62,80,.24);
background-image: linear-gradient(135deg,rgba(0,118,179,.84),transparent 71%);
}
.the-shadow {
  box-shadow: inset 0 -2px 40px 2px rgba(0,0,0,.15) !important;
}
.num{
  background-image: linear-gradient(90deg,#2a94d6,#4473bd 42%,#144c77);
}
.illusion{
  opacity: 1; 
  background-color: #fff;
  background-image: 
    linear-gradient(33deg, rgba(102, 45, 140, .95) 37%, rgba(234, 73, 73, .2)), 
    linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), 
    linear-gradient(90deg, transparent 63%, rgba(234, 73, 73, .7)), 
    url("https://assets-global.website-files.com/575edfeea4bf5b9f21de5618/579684fc9f0c9d5e03cd2eb7_software-administracion-pymes-nube.jpg"); /* Background image */
  background-position: 
    0 0, 
    0 0, 
    0 0,
    50% 0; 
  background-size: 
    auto, 
    auto,
    auto,
    cover;
  background-attachment: 
    scroll,
    scroll, 
    scroll, 
    fixed; 
  padding-top: 210px; 
  padding-bottom: 200px; 
  font-family: 'Lato', sans-serif; 
  position: relative; 
  box-shadow: inset 0 0 75px 7px rgba(0, 0, 0, .33); 
}
@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.illusion h2 {
  animation: moveUp 3s ease infinite; 
}
.grid-section {
  background-image: linear-gradient(178deg,transparent 79%,rgba(89,51,127,.12)),linear-gradient(rgba(255,255,255,.96),rgba(255,255,255,.96));
}
.blue {
    background-color: #fff;
    background-image: linear-gradient(121deg, #202370 41%, rgba(37, 143, 126, .7)), url("https://assets-global.website-files.com/575edfeea4bf5b9f21de5618/57968568158327dc23ecced3_sistema-ventas-erp-crm-pymes.jpg");
    background-position: 0 0, 50%;
    background-size: auto, cover;
    padding-top: 140px;
    padding-bottom: 160px;
}
.complex{
    background-image: linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .14)), linear-gradient(160deg, #d4145a 30%, #f48500);
    border: 1px solid #d4145a;
    border-bottom-width: 7px;
    padding-top: 120px;
    padding-bottom: 124px;
    position: relative;
    box-shadow: 0 0 24px rgba(0, 0, 0, .24);
}
.fCard{
background-image: linear-gradient(160deg,rgba(255,255,255,.98) 36%,rgba(255,255,255,.5) 77%);
background-color: rgb(30, 175, 100);}
.sCard{
background-image: linear-gradient(160deg,rgba(255,255,255,.98) 36%,rgba(255,255,255,.5) 77%);
}
.foCard{
background-image: linear-gradient(160deg,rgba(255,255,255,.98) 36%,rgba(255,255,255,.5) 77%);}
.siCard{
background-image: linear-gradient(160deg,rgba(255,255,255,.98) 36%,rgba(255,255,255,.5) 77%);
}

.firstCard{
      background-image: url("https://assets-global.website-files.com/575ef60509a5a7a9116d9f8c/604a4acbab5f699f69572200_EGA%20Futura%20Habitat%20512.png");
    background-color: #abddde;
    border-color: #1eaf64;
        background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 180px;
    border-top: 10px solid rgba(0, 0, 0, .6);
}
.firstCardTitle{
  background-color: #ffd000;
  background-image: linear-gradient(transparent 87%,rgba(0,0,0,.08)),linear-gradient(90deg,rgba(0,0,0,.18),transparent);
}
.secondCard{
    background-image: url("https://assets-global.website-files.com/575ef60509a5a7a9116d9f8c/604a846c8b5cab90b0cf05d6_EGA%20Futura%20512.png");
    background-color: #144c77;
    border-color: #008bc9;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 180px;
    border-top: 10px solid rgba(0, 0, 0, .6);
}
.secondCardTitle{
  background-color:#46C438;
  background-image: linear-gradient(transparent 87%,rgba(0,0,0,.08)),linear-gradient(90deg,rgba(0,0,0,.18),transparent);
}
.fourthCard{
    background-image: url("https://assets-global.website-files.com/575ef60509a5a7a9116d9f8c/604a8441557440d323ca230b_EGA%20Futura%20Base%20de%20datos%20512.png");
    background-color: #a3d5df;
    border-color: #48a1b1;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 180px;
    border-top: 10px solid rgba(0, 0, 0, .6);
}
.fourthCardTitle{
  background-color: #ffd000;
    background-image: linear-gradient(transparent 87%,rgba(0,0,0,.08)),linear-gradient(90deg,rgba(0,0,0,.18),transparent);

}
.fifthCardTitle{
  background-color: #e63f17;
  background-image: linear-gradient(transparent 87%,rgba(0,0,0,.08)),linear-gradient(90deg,rgba(0,0,0,.18),transparent);
}
.sixthCard{
    background-image: url("https://assets-global.website-files.com/575ef60509a5a7a9116d9f8c/604a7ed30089793daee82291_EGA%20Futura%20Inventory%20512.png");
    background-color: #26b7d4;
    border-color: #26b7d4;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 180px;
    border-top: 10px solid rgba(0, 0, 0, .6);
}
.sixthCardTitle{
  background-color: #ee7320;
  background-image: linear-gradient(transparent 87%,rgba(0,0,0,.08)),linear-gradient(90deg,rgba(0,0,0,.18),transparent);
}
.fYear{
      background-color: rgb(30, 175, 100);
      background-image: linear-gradient(rgba(0,0,0,.24),rgba(0,0,0,.24)),linear-gradient(90deg,rgba(255,255,255,.08) 44%,rgba(0,0,0,.05));
}
.sYear{
    background-color: rgb(0, 139, 201);
  background-image: linear-gradient(rgba(0,0,0,.24),rgba(0,0,0,.24)),linear-gradient(90deg,rgba(255,255,255,.08) 44%,rgba(0,0,0,.05));
  }
.foYear{
background-color: rgb(72, 161, 177);
background-image: linear-gradient(rgba(0,0,0,.24),rgba(0,0,0,.24)),linear-gradient(90deg,rgba(255,255,255,.08) 44%,rgba(0,0,0,.05));
  }
.siYear{
background-color: rgb(38, 183, 212);
background-image: linear-gradient(rgba(0,0,0,.24),rgba(0,0,0,.24)),linear-gradient(90deg,rgba(255,255,255,.08) 44%,rgba(0,0,0,.05));  }
.button{
      color: #fff;
    background-image: linear-gradient(315deg, #1fdb6a, #19366b);
    border: 2px solid #19366b;
    border-bottom-width: 7px;
    border-radius: 1px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 10px 33px;
}